/.vscode
/client/__pycache__
/client/app/__pycache__
/client/app/db/__pycache__
/client/db/*.db
/client/log.txt
/server/__pycache__
/server/*.pyc
/server/log.txt
log_backup_2021-2023.txt
teste1.txt
PyWhatKit_DB.txt