{% extends 'base.html' %}
{% set active_page = "notifications" %}
{% set user = "" %}

{% block main %}
<div class="header_align">
    <h1 class="header_text">Notifications</h1>
    <p class='action_text'>Notifications are sent to the configurated cellphone number whenever the Rule evaluates to true.</p>
</div>
<form class="form" action='{{url_for("notifications_actions")}}' method="POST">
<table class="table">
    <tr class="form-group">
        {%if current_user.username=='admin' %}<th>ID</th>{%endif%}
        {%if current_user.username %}<th>Select</th>{%endif%}
        <th>Expiration Date</th>
        <th>PV Name or Name Filter</th>
        <th>Rule with Description</th>
        <th>Limit(s)</th>
        <th>Owner</th>
        <th>Persistent?</th>
        <th>Interval</th>
        <th>Sent?</th>
    </tr>
{% for row in notifications %}
    <tr class="form-group"> 
        {%if current_user.username=='admin' %}<td>{{row[0]}}</td>{%endif%}
        {%if current_user.username%}
        <td>{%if current_user.username==row[6] or current_user.username=='admin'%}<input name='checkbox[]' class="cb" type="checkbox" id="{{row[0]}}" value="{{row[0]}}">{%endif%}</td>
        {%endif%}
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{%for rule in rules%}{%if rule[1] == row[4]%}{{rule[2] + ' : ' + row[4]}}{%endif%}{%endfor%}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{% if row[11]==0%}No{%else%}Yes{%endif%}</td>
        <td>{% if row[11]==1%}{{row[10]}}{%else%}-{%endif%}</td>
        <td>{% if row[8]==0%}No{%else%}Yes{%endif%}</td>
    </tr>
{% endfor %}
</table>
<br>
<span class="action-buttons" {% if current_user.username %} style="visibility:visible;" {% else %} style="visibility:hidden;"{% endif %}>
    <span>
        <button class="btn-add" type="submit" name="action" value='add'>Add Notification</button>
    </span>
    <span>
        <button class="btn-edit" type="submit" name="action" value="edit">Edit Notification</button>
    </span>
    <span>
        <button class="btn-del" type="submit" name="action" value='del' onclick="return confirm('Are you sure?');">Delete Notification</button>
    </span>
</span>
</form>
{% endblock %}