{% extends 'base.html' %}
{% set active_page = "rules" %}

{% block main %}
<div>
<div class="header_align">
    <h1 class="header_text">Rules</h1>
    <p class='action_text'>Rules use special variables to set a condition for evaluation.</p>
    <p class='action_text'>Special variables are explained in the Add Rule page.</p>
</div>
</div>
<div>
    <p style="visibility:hidden; font-size:5px;"> .
</div>

<form class="form" action='{{url_for("rules_actions")}}' method="POST">
<div>
<table class="rules-table">
    <tr class="table-col">
        {%if current_user.username %}<th>Select</th>{%endif%}
        <th>Rule</th>
        <th>Description</th>
        <th>Owner</th>
    </tr>
{% for rule in rules %}
    <tr class="table-lin"> 
        {%if current_user.username %}
        <td>{%if current_user.username==rule[3]%}
            <input name='checkbox[]' class="cb" type="checkbox" id="{{rule[0]}}" value="{{rule[0]}}">
            {%endif%}</td>
        {%endif%}
        <td>{{rule[1]}}</td>
        <td>{{rule[2]}}</td>
        <td>{%if rule[3]=='admin'%}'SMS Service'{%else%}{{rule[3]}}{%endif%}</td>
    </tr>
{% endfor %}
</table>
</div>
<br>
<span class="action-buttons" {% if current_user.username %} style="visibility:visible;" {% else %} style="visibility:hidden;"{% endif %}>
    <span>
        <button class="btn-del" type="submit" name="action" value="add">Add Rule</button>
    </span>
    <span>
        <button class="btn-del" type="submit" name="action" value="del" onclick="return confirm('Are you sure?');">Delete Rule</button>
    </span>
    <span>
        <button class="btn-edit" type="submit" name="action" value="edit">Edit Rule</button>
    </span>
</span>
</form>
{% endblock %}