{% extends 'base.html' %}
{% set active_page = "accounts" %}

{% block main %}
<div class="header_align">
    <h1 class="header_text">Manage Accounts</h1>
</div>
<form class="form" action='{{url_for("account_actions")}}' method="POST">
<div class="accounts_table">
<table>
    <tr class="form-group">
        <th>Select</th>
        <th>ID</th>
        <th>User</th>
        <th>Password</th>
    </tr>
{% for user in users %}
    <tr class="form-group"> 
        <td><input name='checkbox[]' class="cb" type="checkbox" id="{{user.id}}" value="{{user.id}}"></td>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>'???'</td>
    </tr>
{% endfor %}
</table>
</div>
<br>
<span class="action-buttons" style="visibility:visible;">
    <span style="padding: 10px 0px 10px 0px;">
        <button class="btn-add" type="submit" name="action" value="register">Register Account</button>
    </span>
    <span style="padding: 10px 0px 10px 0px;">
        <button class="btn-del" type="submit" name="action" value="delete" onclick="return confirm('Are you sure?');">Delete Account</button>
    </span>
</span>
</form>
{% endblock %}