{% extends 'base.html' %}
{% set active_page = "notifications" %}

{% block main %}
<h1 class="header_text">Add Notification</h1>
<div class='add_text' style='line-height: 7px;'>
    <p>▸ Expiration Date: Set a date and time to the notification expirate;</p>
    <p>▸ PV Name or Filter: Type in the PV name or a RegEx filter for multiple PVs;</p>
    <p>▸ Rule: Choose one between the list. You can add a new rule in the Rules menu;</p>
    <p>▸ Limit(s): Type in the limit(s) ot your rule. Use L=&#60value&#62 for a single limit,</p>
    <p style="margin-left: 50px">LL=&#60value&#62 or LU=&#60value&#62 for other cases;</p>
    <p style="margin-left: 50px;">Example 1) 'L=100' / Example 2) 'L=5e-8' / Example 3) 'LL=0;LU=1e-7'</p>
    <p>▸ Owner: This field is unchangeable, linked to your account;</p>
    <p>▸ Phone Number: It follows the format displayed in the field on selecting it;</p>
    <p>▸ Persistent?: Messages will be sent whenever the Rule is True, using the 'Interval' value;</p>
    <p>▸ Interval: Appears when 'Persistent?' is checked;</p>
</div>
<form autocomplete="off" class="form" action='{{url_for("add_notification")}}' id="formaddnot" method="post">
    <div class="form-field-line">
        <div class="form-field">
            <label class="label" for="expiration">Expiration Date:</label><br>
            <input type="text" id="datetimepicker" name="expiration" 
                    placeholder="Choose the expiration date..." class="form-control"
                    value="{{ request.form['expiration'] }}"></input>
        </div>
        <div class="form-field">
            <label class="label" for="phone">Owner:</label><br>
            <input class="owner" type="text" name="owner" readonly
                placeholder="Type in the owner of the rule.." class="form-control"
                value="{{ request.form['owner'] or current_user.username}}"></input>   
        </div>
        <div class="form-field">
            <label class="label" for="phone">Phone Number:</label><br>
            <input class="phone" type="text" name="phone" id="phone"
                placeholder="Type in the phone number..."
                value="{{ request.form['phone'] }}"></input>   
        </div>
    </div>
    <br>
    <div class="outer" id="RuleCore1">
        <div class="form-field-line" style="border:solid black 1px;display:inline-block">
            <div class="form-field">
                <div class="ui-widget">
                    <label class="label" for="pv">PV Name or Filter:</label><br>
                    <input class="form-control" type="text" name="pv1" id="pv1"
                        placeholder="Type in the PV name..."
                        value="{{ request.form['pv1'] }}"></input>
                </div>
            </div>
            <div class="form-field">
                <label class="label" for="rule">Rule:</label><br>
                <select class="select" name="rule1" id="rule1"> 
                    <option value="0" disabled hidden selected="selected">    </option>
                    {% for row in rules %}
                        <option value="{{ row.rule }}">{{ row.description + ' : ' + row.rule}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-field">
                <label class="label" for="limits1">Limit(s):</label><br>
                <input class="limits1" type="text" name="limits1" 
                    placeholder="Type in the value..." class="form-control"
                    value="{{ request.form['limits1'] }}"></input>
            </div>
            <br>
        </div>
        <div name="divsubrule1" id="divsubrule1">
            <select class="select" name="addsubrule1" id="addsubrule1"> 
                <option value="0">  </option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
                <option value="NOT">NOT</option>
            </select>
        </div>
    </div>
    <div class="RuleCore2" id="RuleCore2" name="RuleCore2" style="display:none" value="0">
        <div class="form-field-line" style="border:solid black 1px;display:inline-block">
            <div class="form-field">
                <div class="ui-widget">
                    <label class="label" for="pv">PV Name or Filter:</label><br>
                    <input class="form-control" type="text" name="pv2" id="pv2"
                        placeholder="Type in the PV name..."
                        value="{{ request.form['pv2'] }}"></input>
                </div>
            </div>
            <div class="form-field">
                <label class="label" for="rule">Rule:</label><br>
                <select class="select" name="rule2" id="rule2"> 
                    <option value="0" disabled hidden selected="selected">    </option>
                    {% for row in rules %}
                        <option value="{{ row.rule }}">{{ row.description + ' : ' + row.rule}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-field">
                <div class="form-field">
                    <label class="label" for="limits2">Limit(s):</label><br>
                    <input class="limits2" type="text" name="limits2" 
                        placeholder="Type in the value..." class="form-control"
                        value="{{ request.form['limits2'] }}"></input>
                </div>
            </div>
            <br>
        </div>
        <div name="divsubrule2" id="divsubrule2">
            <select class="select" name="addsubrule2" id="addsubrule2"> 
                <option value="0">  </option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
                <option value="NOT">NOT</option>
            </select>
        </div>
    </div>
    <div class="RuleCore3" id="RuleCore3" name="RuleCore3" style="display:none" value="0">
        <div class="form-field-line" style="border:solid black 1px;display:inline-block">
            <div class="form-field">
                <div class="ui-widget">
                    <label class="label" for="pv">PV Name or Filter:</label><br>
                    <input class="form-control" type="text" name="pv3" id="pv3"
                        placeholder="Type in the PV name..."
                        value="{{ request.form['pv3'] }}"></input>
                </div>
            </div>
            <div class="form-field">
                <label class="label" for="rule">Rule:</label><br>
                <select class="select" name="rule3" id="rule3"> 
                    <option value="0" disabled hidden selected="selected">    </option>
                    {% for row in rules %}
                        <option value="{{ row.rule }}">{{ row.description + ' : ' + row.rule}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-field">
                <div class="form-field">
                    <label class="label" for="limits3">Limit(s):</label><br>
                    <input class="limits3" type="text" name="limits3" 
                        placeholder="Type in the value..." class="form-control"
                        value="{{ request.form['limits3'] }}"></input>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="form-field-line">
        <div class="form-field">
            <label class="label" for="persistent">Persistent?</label><br>
            <input type="checkbox" class="persistent" name="persistent" id="persistent"
                    placeholder="Type in persistence value..."
                    value="{{ request.form['persistent'] }}"></input>   
        </div>
        <div class="form-field" id="form-field" style="display:none">
            <label class="label" for="interval">Interval:</label><br>
            <input class="interval" type="text" name="interval" 
                placeholder="Type the value in minutes, if persistent..." class="form-control"
                value="{{ request.form['interval'] }}"></input>               
        </div>
    </div>
    <br>
    <div class="action-buttons">
        <button type="submit" class="btn-accept" value='accept' name='action' onclick="Assign()"
        {%if (current_user.username or current_user.username=='admin')%} enabled style="opacity:1;"{%else%} 
        disabled style="opacity:0.5;"{%endif%}>Submit</button>
        <button type="submit" class="btn-cancel" value='cancel' name='action'
        {%if (current_user.username or current_user.username=='admin')%} enabled style="opacity:1;"{%else%} 
        disabled style="opacity:0.5;"{%endif%}>Cancel</button>
    </div>
    <textarea name="hidden1" class="form-control" style="display: none;" value="0" id="hidden1"></textarea>
    <textarea name="hidden2" class="form-control" style="display: none;" value="0" id="hidden2"></textarea> 
</form>
<script>
    function Assign()
        {
            if ($('#RuleCore2').css('display') === 'none'){
                document.getElementById("hidden1").value = "0"; 
            }
            else {
                document.getElementById("hidden1").value = "1";
            }
            if ($('#RuleCore3').css('display') === 'none'){
                document.getElementById("hidden2").value = "0"; 
            }
            else {
                document.getElementById("hidden2").value = "1";
            }
        }
</script>
{% endblock %}